<header>
    <h1>¿Quiénes Somos?</h1>
</header>

<section class="quienes-somos">
    <p>Sweet & Simple es una empresa dedicada a crear deliciosos postres artesanales </p>
    <p> con ingredientes frescos y de
        calidad. Nació con el sueño de endulzar cada </p>
    <p> momento con un toque especial y único..</p>
</section>

<section class="desarrolladores">
    <header>
        <h2>Desarrolladores</h2>
    </header>
    <div class="contenedor-desarrolladores">
        <article class="desarrollador">
            <img src="../assets/AkioDev.jpg" class="developer">
            <h3> Akio Oshiro </h3>
            <p>Me llamo Akio Alexis Oshiro Nakasone, estoy cursando actualmente la carrera de Ingeniería de Sistemas de
                Información en la Universidad Peruana de Ciencias Aplicadas (UPC).</p>
            <br>
            <p>Mi interés se centra en el desarrollo Full Stack, abarcando tanto el Frontend como el Backend.
                Estoy comprometido con adquirir habilidades que me permitan diseñar y desarrollar soluciones
                tecnológicas innovadoras, contribuyendo así al éxito de las organizaciones en un entorno cada vez más
                digitalizado.</p>
        </article>
        <article class="desarrollador">
            <img src="../assets/PieroDev.jpg" class="developer">
            <h3> Piero Mendoza </h3>
            <p>Me llamo Piero Francisco Mendoza Sandoval, también estoy cursando la carrera de Ingeniería de Sistemas de
                Información
                en la Universidad Peruana de Ciencias Aplicadas (UPC).</p>
            <br>
            <p>Estoy interesado en el desarrollo Full Stack, disfrutando aprender a usar diferentes tecnologías antes y
                durante el proceso de desarrollo. Soy una persona capaz de resolver problemas y me adapto fácilmente a
                diferentes grupos de trabajo.</p>
        </article>
    </div>
</section>

<section class="mision-vision">
    <article class="mision">
        <img src="../assets/Mision.png" class="mision-img">
        <h3>Misión</h3>
        <p>Nuestra misión en Sweet & Simple es ofrecer una experiencia única y deliciosa a través de postres artesanales
            hechos con ingredientes frescos y de alta calidad. Nos comprometemos a brindar a nuestros clientes un sabor
            excepcional, con un enfoque en la simplicidad y el detalle, haciendo que cada bocado sea un momento
            especial.</p>
    </article>

    <article class="vision">
        <img src="../assets/Vision.png" class="vision-img">
        <h3>Visión</h3>
        <p>Ser la marca líder en postres gourmet accesibles, reconocida por su compromiso con la calidad, la innovación
            y el servicio al cliente. Queremos expandir nuestra presencia, llevando la dulzura de Sweet & Simple a más
            personas, creando recuerdos inolvidables a través de cada creación.</p>
    </article>
</section>


<section class="slogan">
    <h2> Lo simple nunca fue tan delicioso </h2>
</section>