.menu-element {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    height: 164px;
    background-color: #F0DBDB;
    color: black;
    padding: 0 20px; 
}

.menu-element button {
    font-size: 24px;
    color: black;
    font-family: "Inter", sans-serif;
}

.logo {
    flex: 0 1 auto;  
    max-width: 197px; 
}

.menu-buttons button {
    border-radius: 8px;  
    transition: background-color 0.4s, transform 0.4s;  
}

.menu-buttons button:hover {
    color: black;
    background-color: #DBA39A;
    transform: scale(1.1); 
}


.icons {
    font-size: 36px; 
    flex: 0 1 auto;  
    width: 197px;
    display: flex;
    align-items: center;
    gap: 20px;  
}

.icons mat-icon {
    font-size: 36px;  
    flex: 0 1 auto;  
    width: 197px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;  
}